.container{

    display: flex;
    flex-direction: column;
    min-width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 40px;
    padding: 20px;
    backdrop-filter: blur(5px);
}   

@media (max-width:900px){
    .container{
        margin: 10px;
    }
}

.h4{
    color: lightblue;
}

.description{
    font-size: 1.4rem;

}

.about{
    font-size: 1.5rem;
    color: lightblue;
}

.link{
    font-size: 1.4rem;

}

.correo{
    font-size: 1.4rem;
    
}

.href{
    text-decoration: none;
}

