.Container {
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(
    150deg,
    #6c757d,
    #495057,
    #212529
  );
  }
  
  .progressbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 16px;
    background-color: #007bff;
    transition: width 0.3s;
  }

  
