

.container{
  background-color: black; 
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  position:relative;
  }

.title{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color:#fff;

}

.h1{
  border-radius: 5px;
  padding: 20px 50px;

}
.h1:hover{
  transition: 0.5s;
  color: lightblue;
  cursor: pointer;
}
  .ul{
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    list-style: none;
    text-transform: uppercase;
    padding:20px 0 20px 0;


  }

  .icon{
    padding: 45px 100px 0px 0px;
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
  }

  .checkbox{
    display: none;
  }

  .Items{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position:initial;
    border-radius: 8px;
    padding: 10px 20px ;
  }
  .Items:hover{
    transition: 1.5 s;
    color: black;
    background-color:lightblue;
  }

  @media(max-width:975px){
    .h1{
      padding-left: 20px;
    }
    .ul{
      padding-right: 0px;
    }
    .Items{
      padding: 10px 10px;
      font-size: 18px;
    }
  }

  @media (max-width:900px){

    .icon{
      display: block;
    }
    .ul{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      width:100%;
      height: 100vh;
      margin: 0px;
      background-color: black;
      left: -100%;
      transition: all 0.5s;

    }
    .container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

 
    }

    .title{
      display: flex;
      height: 80px;

      align-items: center;
  
      
    }
    .icon{
      padding: 10px 25px 0px 0px;
    }
    .Items{
     
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      padding: 0px 0px 0px 0px-;
      margin: 20px 10px; 
    }

    .checkedUl{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      width:100%;
      height: 100vh;
      margin: 0px;
      background-color: black;
      left: 0%;
      transition: all 0.5s;
    }

  }

/*
 



  .progressbar {
    position:fixed;
    top: 0px;
    left: 0px;
    height: 3px;
    background-color: #ced4da;
    transition: width 0.3s;
  }


  .checkbox{
    color: #ced4da;
    display: none;
  }


  .icon{
    display: fle ;
    align-items: center;
    align-content:flex-start;
    font-size: 30px;
    color : #fff;
    cursor:pointer
  } */
  




  /*
     display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 100px;
    width: 100px;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration-color: black;
    text-decoration: none;
    overflow-x:hidden;
    padding-right: 40px; 
    margin: 0px;
    text-decoration: none;
  */