.container{

    display: flex;
    flex-direction: column;
    min-width: 200px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 40px;
    padding: 20px;
    background-color: rgba(18, 18, 18, 0.818);

} 

@media (max-width:900px){
    .container{
        margin: 10px;
    }
}

.h4{
    color:lightblue
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginado{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
